@model VmFooter
@{
    Layout = null;
}

<footer>
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widget-title">ABOUT US</h5>
                        <div class="widget_about">
                            <p>@Model.Settings.Info</p>
                            <ul class="social-area">
                                @foreach (var item in Model.socials)
                                {
                                    <li>
                                        <a href="@item.Link" name="@item.Name" class="@item.Color" style="color:@item.Color;width:40px;height:40px;display:inline-block;"><i style="background:@item.Background;color:@item.Color;width:40px;height:40px;border-radius:50%;line-height:40px;text-align:center" class="@item.Icon"></i></a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget widget_tag_cloud">
                        <h5 class="widget-title">TAGS</h5>
                        <div class="tagcloud">
                            @foreach (var item in Model.Tags.Take(8))
                            {

                                <a>@item.Name</a>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widget-title">CONTACTS</h5>
                        <ul class="contact_info_list">
                            <li><i class="fa fa-map-marker"></i> @Model.Settings.Adress</li>
                            <li><i class="fa fa-phone"></i> @Model.Settings.Phone</li>
                            <li><i class="fa fa-envelope-o"></i> @Model.Settings.Email1 <br> @Model.Settings.Email2</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget widget_recent_post">
                        <h5 class="widget-title">POPULAR NEWS</h5>
                        @foreach (var item in Model.news.Take(2))
                        {
                            <div class="Latest-post-list-wrap" style="margin-bottom: 25px;">
                                <div class="Gallery">
                                    <div class="gallery-left">
                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    </div>
                                    <div class="gallery-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="blog-details.html">@item.Title </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <ul class="widget_nav_menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <p>Copyright ©2021 Nextpage</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</footer>
