
@model VmNews
@{

    ViewData["Title"] = "Home Page";
    int count = 0;

}

<main>
    <!-- News Post Start -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @foreach (var item in Model?.news.OrderByDescending(v=>v.CreatedDate).Take(1))
                    {
                        <div class="single-post-wrap style-overlay">
                            <div class="thumb">
                                <img src="~/Uploads/Images/@item.MainImage" style="width:100%" alt="">
                                <a class="tag-base tag-blue" href="#">@item.Category.Name</a>
                            </div>
                            <div class="details">
                                <div class="post-meta-single">
                                    <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                </div>
                                <h5 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h5>
                            </div>
                        </div>
                    }

                <div class="row midlle">
                    @foreach (var item in Model.news.OrderByDescending(a=>a.CreatedDate).Skip(1).Take(2))
                    {
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                </div>
                                <div class="details">
                                    <div class="post-meta-single">
                                        <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="Latest-title  mb-4">
                        <h6 class="title">Latest News</h6>
                    </div>
                    @foreach (var item in Model.news.OrderByDescending(o=>o.CreatedDate).Take(7))
                    {
                        <div class="Latest-post">
                            <div class="Gallery">
                                <div class="gallery-left">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                </div>
                                <div class="gallery-body">
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                </div>
                <div class="col-lg-3 col-sm-6 widget-category">
                    <div class="Latest-title  mb-4">
                        <h6 class="title">Category</h6>
                    </div>
                    <div class="row custom-gutters-14">
                        @foreach (var item in Model.categories)
                        {
                            <div class="col-sm-6">
                                <div class="single-category-inner">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    <a class="tag-base tag-blue" asp-controller="Category" asp-action="Category" asp-route-categoryId="@item.Id">@item.Name</a>
                                </div>
                            </div>
                        }
                        <div class="col-12">
                            <div class="add">
                                <img class="w-100" src="~/Assets/image/reklam2.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News Post End -->
    <!-- Slider News Start -->
    <section id="Slider-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6" style="padding: 0px 15px;">
                    <div class="section-title">
                        <h6 class="title">Trending News</h6>
                    </div>
                    <div class="section-slider">
                        <div class="item">
                            <div class="trending-post">
                                @foreach (var item in Model.news.OrderByDescending(m=>m.ViewCount).Take(3))
                                {
                                    <div class="single-post-wrap style-overlay">
                                        <div class="thumb">
                                            <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                        </div>
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                            </div>
                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="trending-post">
                                @foreach (var item in Model.news.OrderByDescending(a => a.ViewCount).Skip(3).Take(3))
                                {
                                    <div class="single-post-wrap style-overlay">
                                        <div class="thumb">
                                            <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                        </div>
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                            </div>
                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="trending-post">
                                @foreach (var item in Model.news.OrderByDescending(a => a.ViewCount).Skip(6).Take(3))
                                {
                                    <div class="single-post-wrap style-overlay">
                                        <div class="thumb">
                                            <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                        </div>
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                            </div>
                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 " style="padding: 0px 15px;">
                    <div class="section-title">
                        <h6 class="title">Latest News</h6>
                    </div>
                    <div class="section-slider">
                        <div class="item latestnews">
                            <div class="slider2">
                                @foreach (var item in Model.news.OrderByDescending(m => m.CreatedDate).Take(5))
                                {
                                    <div class="Latest-post-list-wrap">
                                        <div class="Gallery">
                                            <div class="gallery-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                            </div>
                                            <div class="gallery-body">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <div class="slider2">
                                @foreach (var item in Model.news.OrderByDescending(m => m.CreatedDate).Skip(5).Take(5))
                                {
                                    <div class="Latest-post-list-wrap">
                                        <div class="Gallery">
                                            <div class="gallery-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                            </div>
                                            <div class="gallery-body">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <div class="slider2">
                                @foreach (var item in Model.news.OrderByDescending(m => m.CreatedDate).Skip(10).Take(5))
                                {
                                    <div class="Latest-post-list-wrap">
                                        <div class="Gallery">
                                            <div class="gallery-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                            </div>
                                            <div class="gallery-body">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-sm-6" style="padding: 0px 15px;">
                    <div class="section-title">
                        <h6 class="title">What's New</h6>
                    </div>
                    <div class="section-slider">
                        <div class="item">
                            @foreach (var item in Model.news.OrderByDescending(b=>b.CreatedDate).Take(3))
                            {
                                <div class="Latest-post-list-wrap">
                                    <div class="section">
                                        <div class="single-post-wrap">
                                            <div class="thumb">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                            </div>
                                            <div class="details">
                                                <div class="post-meta-single mb-4 pt-1">
                                                    <ul>
                                                        <li class="hover"><a class="tag-base tag-blue" asp-controller="Category" asp-action="Category">@item.Category.Name</a></li>
                                                        <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                                <p>@(item.Description1.Length>100? item.Description1.Substring(0,100): item.Description1) </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-sm-6" style="padding: 0px 15px;">
                    <div class="section-title">
                        <h6 class="title">Join With Us</h6>
                    </div>
                    <div class="social-area-list mb-4">
                        <ul>
                            <li><a class="facebook"><i class="fa fa-facebook social-icon"></i><span id="facebook-plus">12300</span><span>Like</span> <i class="fa fa-plus" onclick="likebtn()" id="fb-like"></i></a></li>
                            <li><a class="twitter"><i class="fa fa-twitter social-icon"></i><span id="twitter-plus">12600</span><span>Followers</span> <i class="fa fa-plus" onclick="likebtn1()" id="tw-like"></i></a></li>
                            <li><a class="youtube"><i class="fa fa-youtube-play social-icon"></i><span id="youtube-plus">1300</span><span>Subscribers</span> <i class="fa fa-plus" onclick="likebtn2()" id="yu-like"></i></a></li>
                            <li><a class="instagram"><i class="fa fa-instagram social-icon"></i><span id="instagram-plus">52400</span><span>Followers</span> <i class="fa fa-plus" onclick="likebtn3()" id="in-like"></i></a></li>
                            <li><a class="google-plus"><i class="fa fa-google social-icon"></i><span id="google-plus">19101</span><span>Subscribers</span> <i class="fa fa-plus" onclick="likebtn4()" id="go-like"></i></a></li>
                        </ul>
                    </div>
                    <div class="add-area">
                        <a href="#"><img class="w-100" src="~/Assets/image/area.png" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider News End -->
    <!-- Trending News Start-->
    <section id="Trending">
        <div class="container">
            <div class="row">

                <div class="col-xl-6 col-md-12 order-xl-4">
                    <div class="section-title">
                        <div class="row">
                            <div class="col-md-4 mb-2 mb-md-0">
                                <h6 class="title">Trending News</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="nxp-tab-inner nxp-tab-post text-md-right">
                                    <ul class="nav-inner" id="ex1" role="tablist">
                                        @foreach (var item in Model.categories.Take(5))
                                        {
                                            <li class="nav-item ">
                                                <a class="nav-link" id="ex1-tab-1" data-toggle="pill" asp-controller="Category" asp-action="Category" asp-route-categoryId="@item.Id" role="tab" aria-selected="true">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        @foreach (var category in Model.news.Take(1))
                        {

                            <div class="tab-pane fade show active ">
                                <div class="row">
                                    <div class="col-12">
                                        @foreach (var item in Model.news.Take(1))
                                        {
                                            <div class="thumb mb-4">
                                                <img class="w-100" src="~/Uploads/Images/@item.MainImage" alt="img">
                                            </div>
                                        }

                                    </div>
                                    <div class="col-sm-6">
                                        @foreach (var item in Model.news.Take(3))
                                        {
                                            <div class="Treding-post-list-wrap">
                                                <div class="Gallery">
                                                    <div class="gallery-left">
                                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                    </div>
                                                    <div class="gallery-body">
                                                        <div class="details">
                                                            <div class="post-meta-single">
                                                                <ul>
                                                                    <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                                </ul>
                                                            </div>
                                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                    <div class="col-sm-6">
                                        @foreach (var item in Model.news.Skip(3).Take(3))
                                        {
                                            <div class="Treding-post-list-wrap">
                                                <div class="Gallery">
                                                    <div class="gallery-left">
                                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                    </div>
                                                    <div class="gallery-body">
                                                        <div class="details">
                                                            <div class="post-meta-single">
                                                                <ul>
                                                                    <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                                </ul>
                                                            </div>
                                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 order-xl-1 col-sm-6">
                    <div class="single-post-wrap style-overlay-bg">
                        <div class="thumb">
                            <img src="~/Assets/image/trending-image.png" alt="img">
                        </div>
                        <div class="details">
                            <div class="post-meta-single mb-3">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="cat-tech.html">Tech</a></li>
                                    <li>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </li>
                                </ul>
                            </div>
                            <h6 class="title"><a href="blog-details.html">A Comparison of the Sony FE 85mm f/1.4 GM and Sigma</a></h6>
                        </div>
                    </div>
                    <div class="single-post-wrap style-overlay-bg">
                        <div class="thumb">
                            <img src="~/Assets/image/trending-image2.png" alt="img">
                        </div>
                        <div class="details">
                            <div class="post-meta-single mb-3">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="cat-tech.html">Tech</a></li>
                                    <li>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </li>
                                </ul>
                            </div>
                            <h6 class="title"><a href="blog-details.html">A Comparison of the Sony FE 85mm f/1.4 GM and Sigma</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 order-xl-12" style="order: 12;">
                    <div class="single-post-wrap style-overlay-bg">
                        <div class="thumb">
                            <img src="~/Assets/image/27.png" alt="img">
                        </div>
                        <div class="details">
                            <div class="post-meta-single mb-3">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="cat-tech.html">Tech</a></li>
                                    <li>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </li>
                                </ul>
                            </div>
                            <h6 class="title"><a href="blog-details.html">A Comparison of the Sony FE 85mm f/1.4 GM and Sigma</a></h6>
                        </div>
                    </div>
                    <div class="single-post-wrap style-overlay-bg">
                        <div class="thumb">
                            <img src="~/Assets/image/28.png" alt="img">
                        </div>
                        <div class="details">
                            <div class="post-meta-single mb-3">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="cat-tech.html">Tech</a></li>
                                    <li>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </li>
                                </ul>
                            </div>
                            <h6 class="title"><a href="blog-details.html">A Comparison of the Sony FE 85mm f/1.4 GM and Sigma</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Trending News End  -->
    <!-- Popular News Start -->
    <section id="popular-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    @foreach (var item in Model.news.Take(1))
                    {
                        <div class="single-post-wrap style-overlay">
                            <div class="thumb">
                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                <a class="tag-base tag-blue" href="cat-tech.html">@item.Category.Name</a>
                            </div>
                            <div class="details">
                                <div class="post-meta-single">
                                    <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                </div>
                                <h6 class="title"><a style="font-size: 18px;" asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                            </div>
                        </div>
                    }
                    @foreach (var item in Model.news.Skip(1).Take(3))
                    {
                        <div class="Latest-post-list-wrap">
                            <div class="Gallery">
                                <div class="gallery-left">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                </div>
                                <div class="gallery-body">
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
                <div class="col-lg-3 col-md-6">
                    @foreach (var item in Model.news)
                    {
                        if (item.Category.Name == "Sports")
                        {
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    <a class="tag-base tag-blue" asp-controller="Category" asp-action="Category" asp-route-categoryId="@item.Id">@item.Category.Name</a>
                                </div>
                                <div class="details">
                                    <div class="post-meta-single">
                                        <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                    <h6 class="title"><a style="font-size: 18px;" asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                </div>
                            </div>
                            break;
                        }

                    }

                    @foreach (var item in Model.news)
                    {
                        if (item.Category.Name == "Sports"&& count<3)
                        {
                            count++;
                            <div class="Latest-post-list-wrap">
                                <div class="Gallery">
                                    <div class="gallery-left">
                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    </div>
                                    <div class="gallery-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    }
                </div>
                <div class="col-lg-3 col-md-6">
                    @foreach (var item in Model.news)
                    {
                        if (item.Category.Name == "LifeStyle")
                        {
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    <a class="tag-base tag-blue" href="cat-tech.html">@item.Category.Name</a>
                                </div>
                                <div class="details">
                                    <div class="post-meta-single">
                                        <p><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                    <h6 class="title"><a style="font-size: 18px;" asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                </div>
                            </div>
                            break;
                        }

                    }

                    @foreach (var item in Model.news)
                    {
                        if (item.Category.Name == "LifeStyle" && count < 6)
                        {
                            count++;
                            <div class="Latest-post-list-wrap">
                                <div class="Gallery">
                                    <div class="gallery-left">
                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    </div>
                                    <div class="gallery-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    }
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="nxp-tab-inner nxp-tab-post-two mb-4">
                        <ul class="nav nav-tabs " id="nx1" role="tablist">
                            <li class="nav-item active" data-filter=".Recent">
                                <a class="nav-link " id="nx1-tab-1" data-toggle="pill" href="#nx1-tabs-1" role="tab" aria-selected="true">
                                    Recent
                                </a>
                            </li>
                            <li class="nav-item" data-filter=".Populer">
                                <a class="nav-link" id="nx1-tab-2" data-toggle="pill" href="#nx1-tabs-2" role="tab" aria-selected="false">
                                    Populer
                                </a>
                            </li>
                            <li class="nav-item" data-filter=".Comment">
                                <a class="nav-link" id="nx1-tab-3" data-toggle="pill" href="#nx1-tabs-3" role="tab" aria-selected="false">
                                    Comment
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portfolio-item">

                        <partial name="_ShortNewsPartial" model="Model.news" />


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Popular News End  -->
    <!-- NewsLetter Start -->
    <section id="NewsLetter">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            @foreach (var item in Model.news.Take(1))
                            {
                                if (item.Category.Name == "Tech")
                                {
                                    <div class="single-post-list-wrap style-two style-white text-left">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-small play-btn-gray mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><a asp-controller="Category" asp-action="Category" asp-route-categoryId="@item.Id" >@item.Category.Name</a></li>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title mt-2"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id" style="text-decoration: none; color: #fff;">@item.Title</a> </h6>
                                                    <p>@(item.Description1 !=null && item.Description1.Length>50? item.Description1.Substring(0,50): item.Description1) </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }

                        </div>
                        <div class="col-xl-6 col-lg-12">
                            @foreach (var item in Model.news)
                            {
                                if (item.Category.Name == "Fasion")
                                {
                                    <div class="single-post-list-wrap style-two style-white text-left">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-small play-btn-gray mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><a href="cat-tech.html">@item.Category.Name</a></li>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title mt-2"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id" style="text-decoration: none; color: #fff;">@item.Title</a> </h6>
                                                    <p>@(item.Description1 !=null && item.Description1.Length>50? item.Description1.Substring(0,50): item.Description1) </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    break;
                                }

                            }
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            @foreach (var item in Model.news)
                            {
                                if (item.Category.Name == "LifeStyle")
                                {
                                    <div class="single-post-list-wrap style-two style-white text-left">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-small play-btn-gray mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><a href="cat-tech.html">@item.Category.Name</a></li>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title mt-2"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id" style="text-decoration: none; color: #fff;">@item.Title</a> </h6>
                                                    <p>@(item.Description1 !=null && item.Description1.Length>50? item.Description1.Substring(0,50): item.Description1) </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    break;
                                }

                            }
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            @foreach (var item in Model.news)
                            {
                                if (item.Category.Name == "Sports")
                                {
                                    <div class="single-post-list-wrap style-two style-white text-left">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                                <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-small play-btn-gray mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="details">
                                                    <div class="post-meta-single">
                                                        <ul>
                                                            <li><a href="cat-tech.html">@item.Category.Name</a></li>
                                                            <li><i class="fa fa-clock-o"></i>@item.CreatedDate.ToString("dd.MM.yyyy")</li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="title mt-2"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id" style="text-decoration: none; color: #fff;">@item.Title</a> </h6>
                                                    <p>@(item.Description1 !=null && item.Description1.Length>50? item.Description1.Substring(0,50): item.Description1) </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    break;
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    @await Component.InvokeAsync("VcSubscribe")
                </div>
            </div>
        </div>
    </section>
    <!-- NewsLetter End -->
    <!-- Video Section Start -->
    <section id="Video-Area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @foreach (var item in Model.news.Take(1))
                    {

                        if (item.Category.Name == "Tech")
                        {
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="~/Uploads/Images/@item.MainImage" style="width:100%;" alt="img">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-large play-btn-yellow mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="details">
                                    <div class="post-meta-single">
                                        <a class="tag-base tag-purple" href="cat-tech.html">@item.Category.Name</a>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </div>
                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                </div>
                            </div>
                        }


                    }
                </div>
                <div class="col-lg-6">
                    @foreach (var item in Model.news)
                    {

                        if (item.Category.Name == "Fasion")
                        {
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="~/Uploads/Images/@item.MainImage" style="width:100%;" alt="img">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-play-btn play-btn-large play-btn-yellow mfp-iframe" tabindex="0"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="details">
                                    <div class="post-meta-single">
                                        <a class="tag-base tag-purple" href="cat-tech.html">@item.Category.Name</a>
                                        <p><i class="fa fa-clock-o"></i>08.22.2020</p>
                                    </div>
                                    <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsId="@item.Id">@item.Title</a></h6>
                                </div>
                            </div>
                            break;
                        }


                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->
    <!-- Add Area Start -->
    <section id="Add-Area">
        <div class="container">
            <a href="#">
                <img src="~/Assets/image/47.png" alt="">
            </a>
        </div>
    </section>
    <!-- Add Area End -->
    <!-- Trending Area Start -->
    <section id="Cloud">
        <div class="container">
            <div class="row">
                <div class="section-title style-two">
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="title">Trending News</h6>
                        </div>
                        <div class="col-md-9 text-center text-md-right">
                            <div class="nxp-tab-widget nxp-tab-post text-md-right text-center">
                                <ul class="nav-trend" id="ex2" role="tablist">
                                    <li class="nav-item" data-filter="Entertainment">
                                        <a class="nav-link" id="ex2-tab-1" data-toggle="pill" href="#ex2-tabs-1" role="tab" aria-selected="true">
                                            Entertainment
                                        </a>
                                    </li>
                                    <li class="nav-item" data-filter="Politics">
                                        <a class="nav-link" id="ex2-tab-2" data-toggle="pill" href="#ex2-tabs-2" role="tab" aria-selected="false">
                                            Politics
                                        </a>
                                    </li>
                                    <li class="nav-item" data-filter="Fashion">
                                        <a class="nav-link" id="ex2-tab-3" data-toggle="pill" href="#ex2-tabs-3" role="tab" aria-selected="false">
                                            Fashion
                                        </a>
                                    </li>
                                    <li class="nav-item" data-filter="Tech">
                                        <a class="nav-link" id="ex2-tab-4" data-toggle="pill" href="#ex2-tabs-4" role="tab" aria-selected="false">
                                            Tech
                                        </a>
                                    </li>
                                    <li class="nav-item" data-filter="Shop">
                                        <a class="nav-link" id="ex2-tab-5" data-toggle="pill" href="#ex2-tabs-5" role="tab" aria-selected="false">
                                            Shop
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="ex2-content">
                    <div class="tab-pane fade show active" data-filter="Entertainment">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/30.png" alt="img">
                                        <a class="tag-base tag-red" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Laber</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/31.png" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John bert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/32.png" alt="img">
                                        <a class="tag-base tag-green" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/33.png" alt="img">
                                        <a class="tag-base tag-purple" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>Jmbert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" data-filter="Politics">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/31.png" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>Jbert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/32.png" alt="img">
                                        <a class="tag-base tag-green" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>R. Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/30.png" alt="img">
                                        <a class="tag-base tag-red" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/33.png" alt="img">
                                        <a class="tag-base tag-purple" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" data-filter="Fashion">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/30.png" alt="img">
                                        <a class="tag-base tag-red" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/31.png" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John R.bert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/32.png" alt="img">
                                        <a class="tag-base tag-green" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>R. Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/33.png" alt="img">
                                        <a class="tag-base tag-purple" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" data-filter="Tech">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/31.png" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John R.bert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/32.png" alt="img">
                                        <a class="tag-base tag-green" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>R. Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/30.png" alt="img">
                                        <a class="tag-base tag-red" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/33.png" alt="img">
                                        <a class="tag-base tag-purple" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" data-filter="Shop">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/33.png" alt="img">
                                        <a class="tag-base tag-purple" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/31.png" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John R.bert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/32.png" alt="img">
                                        <a class="tag-base tag-green" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>R. Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="~/Assets/image/30.png" alt="img">
                                        <a class="tag-base tag-red" href="cat-tech.html">Tech</a>
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                <li><i class="fa fa-user"></i>John Lambert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="blog-details.html">Cloud Data Wareh ouse Startup, Files to Go </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trending Area End -->

</main>
